body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
.description{
    white-space: pre-wrap;
  }
  
.time-block{
    text-align: center;
    border-radius: 15px;
  }
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
.button{
  float: right;
  background-color: teal;
  height:175px;
}

#save{
  height: 30px;
  
}

.schedule{
  width: 1000px;
  background-color: gray;
}

input{
  width: 1000px;
  height: 150px;
  background-color: gray;

}

th{
  background-color: #06AED5;
  text-align: center;
  width: 200px;
}

.hour{
  height: 100px;
}